
/*NavBar Styling*/
.navbar-brand{
        font-size: 6rem;
      letter-spacing: 5px;
      font-family: Wreckout;
      margin-left: 10px;
  }
  .dropdown-menu{
    margin-top: 1%;
    margin-left: 5rem;
    width: 70%;
    z-index: 99;
    font-family: Poppins;
    font-weight: 400;
  }
  .nav-item1{
    margin-left: 27%;
    color: black;
  }
  .nav-link:hover{
    
    border-bottom: 2px solid black;
    /* transition: 0.5s ease-in-out; */
  }
  nav{
    border-radius: 100px;
  }
  nav:hover{
    transition: 0.5s ease;
    transform: translateZ(-10px);
  }
  
  .dropdown-item:hover{
    background-color: black;
    color: white; 
    border-radius: 5%;
    /* font-family:Poppins; */
    font-weight: 400;
  }
  #login-submenu{
    margin-left: 93%;
    margin-top: 2%;
  
  }
  .nav-link{
    padding-bottom: 1%;
    color: black;
    font-size: 1.4rem;
    letter-spacing: 5px;
    font-family:Poppins;
  }
  .dropdown-item{
    font-family: Poppins;
    font-weight: 400;
  }
  .account-img{
    height: 15%;
    width: 3rem;
    /* z-index: 999; */
  }
    /* Terms and Conditions Styles*/
  
    .terms-container{
        padding: 2%;
        margin-bottom: 5%;
    }
    .btn-goHome{
      padding: 0.4%;
      border-radius: 40px;
      text-align: center;
      width: 20%;
      margin-left: 40%;
      margin-top: 6%;
      margin-bottom: 2%;
      border:none;
      font-size: 160%;
      font-family: Wreckout;
      background-color: lightgreen;
      color: darkgreen;
  }
  .btn-goHome:hover{
      letter-spacing: 4px;
      transform: translateY(-6px);
      transition: 0.5s;
      margin-top: 6%;
  }
  
  
  /*Support Form Design*/
  #support-button{
    color: white;
    background-color: rgba(0, 0, 0);
    font-size: 100%;
  }